/* The CSS */
.section-body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.section-body>header{
    text-align: center;
}

.section-body>header>h1{
    margin: 6px;
}

.section-body>header>section>p{
    margin: 10px;
}

.section-content{
    background-color: royalblue;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 5px;
}

.section-content>h3{
    margin: 0;
}

.section-content>h2{
    margin: 8px;
}

#switch-keliling{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0px;
    color:blue;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: underline;
}

#switch-keliling:hover {
    background-color:cornflowerblue;
    color: white;
}

.formula-img{
    text-align: center;
}

.rumus-section{
    text-align: center;
    font-weight: bold;
}

.hitung-section {
    text-align: center;
}

.hitung-section>h2 {
    margin: 0px;
}


input{
    background-color: aliceblue;
    border: 1px, solid, steelblue;
    border-radius: 4px;
    width: 98.5%;
    padding: 6px;
    font-family: math;
}

#show-result{
    display: none;
}

#show-result>p{
    margin: 0;
}

#show-result-keliling{
    display: none;
}

#show-result-keliling>p{
    margin: 0;
}

form>button {
    padding: 15px;
    border-radius: 16px;
    border: 1px, solid, steelblue;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
}

form>button:hover {
    background-color:steelblue;
    color: white;
}

.button-responsive{
    justify-content: center;
    padding-bottom: 20px;
}

.button-responsive>button {
    padding: 15px;
    border-radius: 16px;
    border: 1px, solid, steelblue;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

.button-responsive>button:hover {
    background-color:steelblue;
    color: white;
}

#reset-btn {
    background-color:slateblue;
    color: white;
}

#reset-btn:hover {
    background-color:steelblue;
    color: red;
}

#reset-keliling-btn {
    background-color:slateblue;
    color: white;
}

#reset-keliling-btn:hover {
    background-color:steelblue;
    color: red;
}

@media only screen and (max-width: 480px) {
    .button-responsive {
        flex-direction: column;
    }
}

#keliling-section{
    display: none
}